<div class="container">
    <h2 class="text-primary">Products List</h2>

    <br />
    <app-filter (searchTextChanged)="filterTextReceived($event)"></app-filter>
    <br>
    <div class="table-responsive">
        <table class="table">
            <thead class="headerStyle">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Price</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of (productRecords|productfilter:searchText)">
                    <td>
                        <div class=" img-responsive">
                            <img [src]="product.imageUrl" alt="NA" class="imgStyle" />
                        </div>
                    </td>
                    <td>{{product.productName|uppercase}}</td>
                    <td>{{product.productCode|lowercase}}</td>
                    <td>{{product.price|currency:'INR'}}</td>
                    <td>
                        <app-star [rating]="product.starRating"></app-star>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>