<div class="container">
    <h2 class="text-primary">Products List</h2>

    <br />
    <div class="row">
        <div class="col-md-2">Filter By:&nbsp;</div>
        <div class="col-md-4">
            <input type="text" class="form-control" [value]="filterText" (change)="updateFilterText(filter.value)"
                #filter />
        </div>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table">
            <!-- <app-product-header-row></app-product-header-row> -->
            <thead class="headerStyle">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Price</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <!-- <app-product-row [products]="productRecords">
                </app-product-row> -->
                <tr *ngFor="let product of (productRecords|productfilter:filterText)">
                    <td>
                        <div class=" img-responsive">
                            <img [src]="product.imageUrl" alt="NA" class="imgStyle" />
                        </div>
                    </td>
                    <td>{{product.productName|uppercase}}</td>
                    <td>{{product.productCode|lowercase}}</td>
                    <td>{{product.price|currency:'INR'}}</td>
                    <td>{{product.starRating}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>